.menu {

    &__item {
        margin-right: 25px;
        display: inline-block;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        font-size: 12px;
        color: #fff;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
